<ion-header>
  <ion-toolbar>
    <ion-title>Mise à jour D'un Module</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <form [formGroup]="updateFormGroup">
      <ion-list>
        <ion-item>
          <ion-label position="floating">Désignation</ion-label>
          <ion-input name="designation"
                     type="text"
                     formControlName="designation"></ion-input>
        </ion-item>
      </ion-list>
    </form>

    <ion-buttons>
      <ion-button color="secondary"
                  [disabled]="!updateFormGroup.valid"
                  (click)="updateModule()"> Mettre à jour
        <ion-icon slot="end"
                  name="save-outline"></ion-icon>
      </ion-button>

      <ion-button color="danger"
                  (click)="goToModuleList()"> Annuler
      </ion-button>
    </ion-buttons>

  </ion-card>
</ion-content>
