ion-card {
  --ion-background-color: #f7f7f7;
  border: solid #97136b;
}

ion-icon {
  display: inline-block;
  vertical-align: middle;
  color: #97136b;
  font-size: 24px;
  margin-right: 10px;
}

p {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  font-size: 16px;
  vertical-align: sub;
}

ion-card-title {
  color: #97136b;
}

h2 {
  margin-left: 25px;
}

#white-icon {
  color: white;
  font-size: 16px;
  margin-left: 10px;
}
