<ion-header>
  <ion-toolbar>
    <ion-title>Détails du cours</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="courseDetail$ | async as courseDetail">
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ courseDetail.designation}} - {{courseDetail.date}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Créneau Horaire : {{courseDetail.startTime}} - {{courseDetail.endTime}}
      <ion-button slot="start"
                (click)="goToCourseUpdate(courseDetail.id)">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
      <ion-button slot="end" (click)="getFilesByCourse(courseDetail.id)">
        voir la liste des fichiers de ce cours
      </ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content *ngFor="let file of (fileList$ | async)">
      {{file.designation}}  {{file.creationDate}}
      <ion-button slot="start" (click)="goToFileDetail(file.id)">
        <ion-icon slot="icon-only" name="search-circle-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
