<ion-header>
  <ion-toolbar>
    <ion-title>project-update</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="projectFormGroup">
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-list *ngIf="project!==undefined">
          <ion-item>
            <ion-label position="floating">Nom du projet</ion-label>
            <ion-input name="nameProject" type="text" formControlName="nameProject" [ngModel]="project.nameProjects"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Status du projet</ion-label>
            <ion-select name="projectStatus" formControlName="projectStatus">
              <ion-select-option
                *ngFor="let statusProject of listStatusProject"
                [value]="statusProject">{{statusProject.name}}</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Score du projet</ion-label>
            <ion-input name="scoreProject" type="text" formControlName="scoreProject" [ngModel]="project.scoreProject"></ion-input>
          </ion-item>
          <ion-button (click)="updateProject()">
            Enregistrer
          </ion-button>
          <ion-button (click)="goBack()" color="success">
            Annuler
          </ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
