<ion-header>
  <ion-toolbar>
    <ion-title>Détails du module</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="moduleDetail$ | async as moduleDetail">

  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ moduleDetail.designation}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button slot="start"
                  (click)="goToModuleUpdate(moduleDetail.id)">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>

