<!--<app-menu></app-menu>-->

<ion-content>

    <ion-row>
      <ion-img style="height: 35px; width: auto;" src="../../assets/fleche_sbh.png"></ion-img>
      <h2> Quoi de neuf chez School By Hi!t ?</h2>
    </ion-row>

    <ion-row class="ion-justify-content-center">
      <ion-col size="4">
        <ion-card>
          <ion-img src="../../assets/news7.jpg"></ion-img>
          <ion-card-title class="ion-text-center"> Annonce de la rentrée : M-3 avant la rentrée de la formation fullstack !</ion-card-title>
          <ion-card-content class="ion-text-center"> Le 6 septembre est la date à retenir pour commencer une nouvelle aventure et devenir développeur fullstack Java / JS. </ion-card-content>
          <ion-card-subtitle class="ion-text-right"> <ion-icon name="calendar"> </ion-icon> 6 septembre 2021  </ion-card-subtitle>
        </ion-card>
      </ion-col>

      <ion-col size="4">
        <ion-card>
          <ion-img src="../../assets/campus.jpg"></ion-img>
          <ion-card-title class="ion-text-center"> C'est au futur Campus Région du numérique de Charbonnière qu'auront lieu les cours 1 semaine par mois de notre promotion développeur fullstack Java/JS. </ion-card-title>
          <ion-card-content class="ion-text-center"> Leur but est de créer un pôle compétitif pouvant allier écologie et digital. Les plans ont par exemple été conçus de manière à ne pas bouleverser la biodiversité du site. Alors, envie de se mettre au vert ?  </ion-card-content>
          <ion-card-subtitle class="ion-text-right"> <ion-icon name="calendar"> </ion-icon> 01 janvier 2021 </ion-card-subtitle>
        </ion-card>
      </ion-col>

    </ion-row>

</ion-content>
