ion-card-title {
  font-size: 15px;
}

ion-card {
  padding: 5px;
}

ion-text {
  font-size: 20px;
}

.fleches {
  margin-top: 6px;
  margin-left: 10px;
  margin-right:10px;
  width: 50px;
  height: auto;
}
