<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="schedule" (click)="eventFunction()">
      <ion-icon name="calendar" ></ion-icon>
      <ion-label>Emploi du temps</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="projects">
      <ion-icon name="folder-open"></ion-icon>
      <ion-label>Projets</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reports">
      <ion-icon name="ribbon"></ion-icon>
      <ion-label>Rapports de RDV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="modules">
      <ion-icon name="school"></ion-icon>
      <ion-label>Modules</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="Logout">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Déconnexion</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
